.list-item{
    height: fit-content !important;
}

.row{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.transparent-button{
    background: none;
    border: none;
}

.search-form-field{
    margin-right: 10px;
}